.App {
  background-color: #282c34;
  padding: 5%;
  display: flex;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.Table{
  margin: 0 auto;
  width: 50%
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  width: 600px;
  height: 600px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  cursor: pointer;

}

.grid-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.grid-item:active {
  transform: translateY(4px);
}

.kepad-container{
 display: flex;
 align-items: center;
 flex:1;
 flex-direction: column;
}
.grid-container-keypad{
  display: grid;
  grid-template-columns: auto auto auto;
  height: 300px;
  width: 300px;
  border-radius: 50px;
  border-width: 10px;
  border-color: blue;
  margin: 20px;
}

.grid-item-keypad {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  

}
.grid-item-keypad:hover{
  background-color: rgba(255, 255, 255, 0.5)
}
.grid-item-keypad:active{
  transform: translateY(4px);
}


.action-buttons{
  background-color:rgba(13, 79, 105, 0.9);
  border: 3px solid rgba(247, 242, 242, 0.8);
  padding:10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  width: 200px;
  border-radius: 30px;
  color: #eee;
  cursor: pointer;
}

.action-buttons:hover{
  background-color: rgba(255, 255, 255, 0.2)
}
.action-buttons:active{
  transform: translateY(4px);
}

.select{
  background-color:rgba(13, 79, 105, 0.9);
  border: 3px solid rgba(247, 242, 242, 0.8);
  padding:10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  width: 200px;
  border-radius: 30px;
  color: #eee;
  cursor: pointer;
}

.grid-item-keypad-clicked {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  transform: translateY(5)
}




.container-keypad {
	width:24vw;
	margin:50px auto;
	border:1px solid #333;
	border-radius:10px;
	background:#eee;
}

a {
	display:inline-block;
	border:1px solid #333;
	border-radius:5px;
	text-align:center;
	width:6vw;
	height:5vw;
	line-height:5vw;
	margin:2%;
	font-size:2vw;
	text-decoration:none;
	color:inherit;
	background:rgba(255,255,255,0.7);
	transition:all 0.3s ease-in-out;

}



